:root {
  --light-background-color: #eae6df;
  --lighter-text-color: #555050;
  --dark-text-color: #2d2d2d;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h3 {
  color: var(--lighter-text-color);
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: 1px;
}

h1 {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
}

h2 {
  font-family: var(--heading-font-family);
  color: var(--dark-text-color);
  font-size: 52px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-weight: 200;
  letter-spacing: 2px;
  color: var(--dark-text-color);
  color: var(--lighter-text-color);
}

h5 {
  font-size: 28px;
  font-weight: 800;
  color: var(--lighter-text-color);
  color: var(--dark-text-color);
}

p {
  font-family: var(--heading-font-family);
}

img {
  border-radius: 1px;
}

.bg-custom {
  background-color: var(--light-background-color);
}

.bg-custom-dark {
  background-color: var(--dark-text-color);
  color: var(--lighter-text-color) !important;
}

.bg-custom-dark a {
  color: var(--lighter-text-color) !important;
}

.bg-custom-dark a:hover {
  color: #fff !important;
}

.bg-custom-dark .active {
  color: #fff !important;
}

.hero {
  background-color: var(--light-background-color);
  text-align: end;
  padding: 180px 130px 150px 130px;
}

.about-hero {
  background-color: var(--light-background-color);
  text-align: start;
  padding: 120px;
}

.projects-hero {
  background-color: var(--light-background-color);
  text-align: start;
  padding: 90px;
}

.contact-hero {
  background-color: var(--dark-text-color);
  color: #fff;
  text-align: center;
  padding: 90px;
}
.contact-hero h4 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
}
.contact-hero p {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.4px;
  opacity: 0.9;
}

.projects-hero h4 {
  font-size: 30px;
  letter-spacing: 2px;
}

.about-hero-content {
  padding: 20px 40px;
}

.name {
  color: var(--dark-text-color);
  font-weight: 500;
  padding-right: 5px;
}

.btn-branding {
  color: #fff;
  background-color: var(--dark-text-color);
  border-radius: 1px;
  padding: 14px 16px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.btn-branding:hover {
  color: var(--dark-text-color);
  background-color: var(--light-background-color);
  border: 1px solid var(--dark-text-color);
  font-weight: 700;
}

.btn-learn-more {
  color: var(--dark-text-color);
  background-color: var(--light-background-color);
  border-radius: 1px;
  padding: 14px 30px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.btn-learn-more:hover {
  color: var(--light-background-color);
  background-color: var(--lighter-text-color);
}
.btn-learn-more-origami {
  color: var(--light-background-color);
  background-color: var(--lighter-text-color);
  border-radius: 1px;
  padding: 14px 30px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.btn-learn-more-origami:hover {
  color: var(--dark-text-color);
  background-color: var(--light-background-color);
}

.dictionary {
  color: var(--lighter-text-color);
}

.btn-coming-soon {
  color: var(--dark-text-color);
  background-color: #f7f3eb;
  border-radius: 1px;
  padding: 14px 30px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.btn-coming-soon:hover {
  color: var(--light-background-color);
  background-color: #a19595;
  cursor: default;
}

.skills p {
  display: inline;
  padding: 7px;
  margin: 1px;
  font-family: var(--default-font-family);
  font-size: 14px;
  border: 1px solid #b8926a;
  border-radius: 4px;
}

.projects-button {
  color: var(--dark-text-color);
  background-color: var(--light-background-color);
  border-radius: 1px;
  padding: 12px 36px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.projects-button:hover {
  color: #fff;
  background-color: var(--dark-text-color);
  font-weight: 500;
}

.etsy-button {
  color: var(--dark-text-color);
  background-color: #b8926a;
  border-radius: 1px;
  padding: 14px 150px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.etsy-button:hover {
  color: #fff;
  background-color: var(--dark-text-color);
  font-weight: 500;
}

.interested {
  font-size: 40px;
}

.profile-photo {
  display: block;
  margin: 0 auto;
}

.social {
  background-color: var(--light-background-color);
}
.social a {
  color: var(--dark-text-color);
  font-size: 30px;
  transition: all 300ms ease-in-out;
}

.social a:hover {
  color: var(--lighter-text-color);
  font-size: 30px;
}

footer .work-enquiry {
  margin-left: 1px;
  margin-bottom: 20px;
  padding: 50px 40px 30px 50px;
  background-color: #b8926a;
}

footer h4 {
  color: #fff;
  letter-spacing: 4px;
  font-size: 30px;
}

footer p {
  margin-left: 10px;
  opacity: 0.8;
}
footer .btn-learn-more {
  margin-top: 8px;
  padding: 20px 100px;
  font-size: 12px;
}

footer .social a {
  font-size: 15px;
  text-decoration: none;
  color: var(--lighter-text-color);
}
footer .social a:hover {
  font-size: 15px;
  text-decoration: none;
  color: var(--dark-text-color);
}
.signature {
  padding-bottom: 0px !important;
  margin-bottom: 1px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
}

@media (max-width: 1200px) {
  .interested {
    font-size: 30px;
    text-align: center;
  }
  .about-hero {
    padding: 80px;
  }
  .hopacho-button,
  .github-button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
  }
  .profile-photo {
    display: block;
    margin: 0 auto;
  }

  .work-enquiry .btn-learn-more {
    padding: 18px 70px;
  }
}

@media (max-width: 768px) {
  h5 {
    text-align: center;
  }
  .btn-learn-more,
  .btn-learn-more-origami,
  .btn-coming-soon {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    text-align: center;
    letter-spacing: 0;
  }
  h2 {
    font-size: 40px;
    padding: 35px 0;
  }

  h5 {
    font-size: 24px;
    text-align: center;
  }
  p {
    text-align: center;
    padding-bottom: 15px;
  }

  .hero {
    padding: 120px 80px 90px 80px;
  }
  .btn-branding {
    display: block;
    margin: 0 auto;
  }
  .featured-title {
    padding: 12px 0 !important;
    margin-bottom: 20px !important;
  }
  .btn-learn-more,
  .btn-learn-more-origami,
  .btn-coming-soon {
    display: block;
    margin: 0 auto;
  }

  .about-hero {
    padding: 40px;
  }
  .about-description {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .interested {
    font-size: 20px;
    padding: 25px !important;
    margin: 22px !important;
  }
  .hopacho-button,
  .github-button {
    margin-bottom: 5px;
  }

  .projects-hero h4 {
    font-size: 18px;
  }
  .origami-list {
    padding-top: 8px !important;
    padding-bottom: 2px !important;
  }
  .skills {
    padding-bottom: 10px !important;
  }
  .origami-heading {
    margin-bottom: 2px;
  }
  .skills p {
    font-size: 8px;
    padding: 4px;
  }
  .etsy-button {
    padding: 14px 100px;
  }
  .work-enquiry h4 {
    text-align: center;
  }
  .work-enquiry .btn-learn-more {
    padding: 16px 40px;
  }
  footer .social a {
    font-size: 10px;
  }
  .signature {
    font-size: 9px;
  }
}
@media (max-width: 300px) {
  h1,
  h2,
  h3 {
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
  }
  h2 {
    font-size: 28px;
    padding: 30px 0;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-bottom: 15px;
    font-size: 14px;
  }
  .hero {
    padding: 100px 60px;
  }
  .btn-branding {
    font-size: 10px;
    display: block;
    margin: 0 auto;
    padding: 10px 12px;
  }
  .featured-title {
    padding: 8px 0 !important;
  }
  .btn-learn-more,
  .btn-learn-more-origami,
  .btn-coming-soon {
    display: block;
    margin: 0 auto;
  }

  .work-enquiry .btn-learn-more {
    padding: 18px 40px;
    font-size: 9px;
    margin-left: 0;
  }
  .about-hero,
  .projects-hero,
  .contact-hero {
    padding: 30px;
  }
  .about-description {
    font-size: 10px;
  }
  .interested {
    font-size: 16px;
    padding: 20px !important;
    margin: 18px !important;
  }

  footer .social a {
    font-size: 10px;
  }

  .signature {
    font-size: 9px;
  }
}
